<MudFab StartIcon="@Icons.Material.Rounded.ArrowBack" Label="BACK" OnClick="OnGoBack" Style="position:absolute; margin:30px;" />
<h1 style="text-align:center; padding: 50px;">LOAD GAME</h1>

@code {
    [Parameter] public EventCallback OnGoBack { get; set; }
}
